*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
}
header{
    display: grid;
    place-items: center;
    box-shadow: 5px 5px 8px #999;
    background: #fff;
    width: 100%;
}

header img{
    width: 25vh;
    padding: 5vh 0;
}

footer{
    margin-top: auto;
    display: grid;
    place-items: center;
    background: #555;
    padding: 30px 0;
    font-size: 7vh;
}
footer  p  span{
    font-family: 'Courier New', Courier, monospace;
}
footer ul li{
    list-style-type: none;
}
footer ul{
    display: flex;
    gap: 5vh;
}
footer ul li a{
    text-decoration: none;
}
a{
    color: #deb770;
}
a:active{
    color: #deb;
}
a:link{
    color: #deb770;
}
footer ul li a:hover{
    color: #deb;
}
