*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #333;
}
.content{
    display: grid;
    grid-template-columns: 200px auto;
    place-items: center;
    padding: 40px;
}
canvas{
    border-radius: 12px;
}
.canvas-size-range{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
[class$="-dis"]{
    display: flex;
    flex-direction: column;
    padding: 17px;
    background: #aaa;
    border-radius: 12px;
    outline: 2px red solid;
}

.other-options{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}