@media (max-width: 180px){
    footer{
        font-size: 15px;
    }
}
@media (min-width: 320px){
    .welcome{
        font-size: 21px;
    }
}
@media (min-width: 410px){
    header ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 21px;
    }
}
@media (min-width: 480px){
    footer{
        font-size: 32px;
    }
    footer ul{
        display: flex;
        flex-direction: row;
    }
    header ul{
        font-size: 27px;
    }
}
@media (min-width: 520px){
    .welcome{
        font-size: 27px;
    }
    .welcome .the-welcome-img img{
        width: 30vw;
    }
    header ul{
        gap: 40px;
    }
}
@media (min-width: 560px){
    header img{
        width: 15vw;
    }

}
@media (min-width: 720px){
    .welcome .the-welcome-img img{
        width: 25vw;
    }
}
@media (min-width: 960px){
    header img{
        width: 7vw;
    }
    .welcome .the-welcome-img img{
        width: 15vw;
    }
}

