*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
a{
    color: #deb990;
    text-decoration: none;
    font-size: 21px;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header{
    display: flex;
    justify-content: space-around;
    box-shadow: 9px 9px 12px #555;
    padding: 30px 0;
    background: #fff;
}
header ul{
    display: flex;
    flex-direction: column;
    font-size: 17px;
    gap: 10px;
    color: #deb990;
}
header ul li{
    list-style-type: none;
}
header ul li a{
    text-decoration: none;
    cursor: pointer;
    transition: 1s;
    color: #deb990;
    font-family: 'Times New Roman', Times, serif;
}
header ul li a:hover{
    color: #deb;
    text-decoration: underline;
}
header ul li a:active{
    color: #deb990;
}
header img{
    width: 25vw;
}

.quotes{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.quote-box{
    width: 250px;
    height: 250px;
    padding: 10px;
    display: flex;
    gap: 12px;
    border-radius: 12px;
    flex-direction: column;
    flex: 0 1 auto;
    justify-content: space-around;
    text-align: center;
    background: linear-gradient(60deg, #a55, #debade);
}

.quote-box cite{
    color: #0f0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 21px;
}
.quote-box q{
    color: #00f;
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
}.placeholder{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    color: aquamarine; 
    background-color: #aaa; 
    text-align: center;
}
.placeholder p {
    font-size: 21px; 
    padding: 30px; 
    border: 2px dotted red; 
    margin: 10px 0;
}
footer{
    margin-top: auto;
    display: grid;
    place-items: center;
    background: #333;
    padding: 20px 0;
    font-size: 21px;
}
footer p{
    color: #0ff;
    font-family: 'Times New Roman', Times, serif;
}
footer ul li a{
    text-decoration: none;
    color: #deb990;
}
footer ul li a:active{
    color: #deb;
}
footer ul li a:link{
    color: #deb990;
}
footer ul li a:visited{
    color: #deb990;
}
footer p span{
    font-family: 'Courier New', Courier, monospace;
}
footer ul li{
    list-style: none;
}

noscript{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
noscript p{
    color: #00f;
    background: #0f0;
    font-size: 27px;
}